<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    
</head>
<body>
<div class="container">
    <div class = "title-box slide-in-blurred-bottom" id="title-box">
        <h1 class="title-button" style="margin-right:40px;" (click)="buttonClicked()">Budgets</h1>
        <h1 class="title-button" (click)="buttonClicked()">Monthly Finances</h1>
    </div>
</div>
</body>

<router-outlet></router-outlet>